## Nearest Neighbor
We will project our data onto a space and then use the nearest neighbor algorithm to see if we can classify distinct clusters as certain types.

In [1]:
## code
import pandas as pd

In [2]:
data = pd.read_csv('pokemon_final.csv')
data.head()

,id,Name,Type 1,Type 2,Generation,height,weight,base_experience,hp,attack,defense,speed,special-attack,special-defense
0,1,bulbasaur,grass,poison,1,0.7,6.9,64,45,49,49,45,65,65
1,2,ivysaur,grass,poison,1,1.0,13.0,142,60,62,63,60,80,80
2,3,venusaur,grass,poison,1,2.0,100.0,236,80,82,83,80,100,100
3,4,charmander,fire,NaN,1,0.6,8.5,62,39,52,43,65,60,50
4,5,charmeleon,fire,NaN,1,1.1,19.0,142,58,64,58,80,80,65

In [4]:
types = []
for pType in data['Type 1']:
    try:
        index = types.index(pType)
    except ValueError:
        types.append(pType)

for pType in data['Type 2']:
    try:
        index = types.index(pType)
    except ValueError:
        types.append(pType)
        

print(types)

['grass', 'fire', 'water', 'bug', 'normal', 'poison', 'electric', 'ground', 'fairy', 'fighting', 'psychic', 'rock', 'ghost', 'ice', 'dragon', 'dark', 'steel', 'flying', nan]